<html>

<head>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet" th:href="@{/bootstrap.min.css}"/>
	<script src="./static/bootstrap.min.js"></script>
	<script src="./static/jquery-3.3.1.slim.min.js"></script>
	<script src="./static/popper.min.js"></script>

</head>


<body>

<div class="container" >

	<form>
	
	  <div class="form-row">
	    <div class="col-2">
	      <input type="text" class="form-control" placeholder="Client Id Dev">
	    </div>
	    <div class="col-2">
	      <input type="text" class="form-control" placeholder="Token Dev">
	    </div>
	  </div>
	  
	  <div class="form-row">	  
	    <div class="col-2">
	      <input type="text" class="form-control" placeholder="Client Id Hom">
	    </div>
	    <div class="col-2">
	      <input type="text" class="form-control" placeholder="Token Hom">
	    </div>
	  </div>
	  
	  <div class="form-row">
		<div class="col-2">
	      <input type="text" class="form-control" placeholder="Client Id Prod">
	    </div>
	    <div class="col-2">
	      <input type="text" class="form-control" placeholder="Token Prod">
	    </div>
	  </div>

	</form>

</div>

</body>


</html>